<section class="m-login-section col-12 full-height right-direction relative">
    <div class="fixed top-0 bottom-0 left-0 right-0 m-login-img">
        <img src="../../../assets/img/ui/mobile/m.login.png" class="w-100 fixed bottom-0" alt="">
    </div>
    <div class="container flex flex-col items-center m-login-content">
        <div class="col-sm-10  flex items-center content-center">
            <img src="../../../assets/img/ui/mobile/food.png" class="col-xs-4 no-padding-left" alt="">
            <img src="../../../assets/img/ui/mobile/karafeed.png" class="col-xs-8" alt="">
        </div>
        <div class="margin__top_15 text-line defult-title-color center-text line-height-2">سامانه آنلاین تامین غذای
            شرکت ها و ادارات</div>
        <form name="myform" class="form-horizontal margin__top_15 w-80" ng-submit="login()">
            <div class="form-group">
                <div class="col-xs-12 bottom-margin-md">
                    <input ng-model="username" name="username" placeholder="نام کاربری" required type="text" class="confirm_input form-control no-margin-right no-margin-left"
                        id="username" placeholder="">
                    <div class="error-message" ng-show="(myform.username.$dirty || submitted) && inputIsInvalid(myform.username.$valid,'username') && myform.username.$error.maxlength">
                        حداکثر 60 کاراکتر وارد کنید
                    </div>
                    <div class="error-message" ng-show="(myform.username.$dirty || submitted) && inputIsInvalid(myform.username.$valid,'username') && myform.username.$error.required">
                        پر کردن این فیلد اجباریست
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <input ng-model="pass" name="pass" placeholder="رمز عبور" ng-maxlength="60" required type="password"
                        class="confirm_input form-control no-margin-right no-margin-left" id="pass" placeholder="">
                    <div class="error-message" ng-show="(myform.pass.$dirty || submitted) && inputIsInvalid(myform.pass.$valid,'pass') && myform.pass.$error.maxlength">
                        حداکثر 60 کاراکتر وارد کنید
                    </div>
                    <div class="error-message" ng-show="(myform.pass.$dirty || submitted) && inputIsInvalid(myform.pass.$valid,'pass') && myform.pass.$error.required">
                        پر کردن این فیلد اجباریست
                    </div>
                </div>
            </div>
            <div class="form-group bottom-margin-md-imp top-margin-md no-margin-right no-margin-left right-text col-xs-12 no-float">
                <a class="defult-color font-xs" href="#/forget">رمز عبور را فراموش کرده ام</a>
            </div>
            <div id="captcha_container" style="direction: ltr"></div>
            <span class="msg-error error " style="color: rgba(26, 64, 73, 0.36);font-size: 0.8em;margin-bottom: 10px"></span>
            <div class="inline-block w-100 center-text top-margin-lg">
                <button type="submit" class="confirm_button confirm_yes btn no-margin-left redius-md">
                    ورود
                </button>
            </div>
        </form>
        <script src="https://www.google.com/recaptcha/api.js?onload=loadCaptcha&render=explicit" async defer></script>
    </div>
</section>
<style>
    *[ui-view]{
        height: 100vh;
    }
    .view-padding-top {
      padding-top: 9em;
    }
</style>
