<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
  <div class="tabs">
    <a class="tab-item active" ng-click="getAllEmployees()">
      <i class="icon ion-home"></i>
      Test
    </a>
    <a class="tab-item" ng-click="getFollowers()">
      <i class="icon ion-star"></i>
      Favorites
    </a>
    <a class="tab-item" ng-click="getFollowings()">
      <i class="icon ion-gear-a"></i>
      Settings
    </a>
  </div>
</div>
<div class="feedgram-co-workers-container">
  <div style="position: relative" class="w-33 right-float" ng-repeat="item in colleagues">
    <div class="feedgram-circle" ng-click="goToProfile()" style="background-image: url({{item.imageAddress}})">
    </div>
    <div ng-if="!item.following" ng-click="follow(item.id)" class="w-20 feedgram-follow"></div>
    <div style="text-align: center">{{item.name}}</div>
    <div>
      <div style="width: 50%;float: right">
        <div class="feedgram-icons feedgram-posts left-float"></div>
        <div class="left-float">11</div>
      </div>
      <div style="width: 50%;float: right">
        <div class="feedgram-icons feedgram-followers left-float"></div>
        <div class="left-float">15</div>
      </div>
    </div>
  </div>
</div>
<style>
  .view-padding-top {
    padding-top: 100px;
  }
</style>
