<div class="feedgram-co-workers-container">
    <div ng-click="goToProfile()">
        <div class="feedgram-circle" style="background-image: url('assets/img/ui/mobile/food.png')">
        </div>
        <div>omid javaheri</div>
        <div>
            <div style="width: 50%;float: right">
                <div style="float: right">11</div>
                <div class="feedgram-icons feedgram-posts"></div>
            </div>
            <div style="width: 50%;float: right">
                <div style="float: right">15</div>
                <div class="feedgram-icons feedgram-followers"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="feedgram-circle" style="background-image: url('assets/img/ui/mobile/food.png')">
        </div>
        <div>omid javaheri</div>
        <div>
            <div style="width: 50%;float: right">
                <div style="float: right">11</div>
                <div class="feedgram-icons feedgram-posts"></div>
            </div>
            <div style="width: 50%;float: right">
                <div style="float: right">15</div>
                <div class="feedgram-icons feedgram-followers"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="feedgram-circle" style="background-image: url('assets/img/ui/mobile/food.png')">
        </div>
        <div>omid javaheri</div>
        <div>
            <div style="width: 50%;float: right">
                <div style="float: right">11</div>
                <div class="feedgram-icons feedgram-posts"></div>
            </div>
            <div style="width: 50%;float: right">
                <div style="float: right">15</div>
                <div class="feedgram-icons feedgram-followers"></div>
            </div>
        </div>
    </div>
</div>
<div class="feedgram-co-workers-container">
    <div>
        <div class="feedgram-circle" style="background-image: url('assets/img/ui/mobile/food.png')">
        </div>
        <div>omid javaheri</div>
        <div>
            <div style="width: 50%;float: right">
                <div style="float: right">11</div>
                <div class="feedgram-icons feedgram-posts"></div>
            </div>
            <div style="width: 50%;float: right">
                <div style="float: right">15</div>
                <div class="feedgram-icons feedgram-followers"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="feedgram-circle" style="background-image: url('assets/img/ui/mobile/food.png')">
        </div>
        <div>omid javaheri</div>
        <div>
            <div style="width: 50%;float: right">
                <div style="float: right">11</div>
                <div class="feedgram-icons feedgram-posts"></div>
            </div>
            <div style="width: 50%;float: right">
                <div style="float: right">15</div>
                <div class="feedgram-icons feedgram-followers"></div>
            </div>
        </div>
    </div>
    <div>
        <div class="feedgram-circle" style="background-image: url('assets/img/ui/mobile/food.png')">
        </div>
        <div>omid javaheri</div>
        <div>
            <div style="width: 50%;float: right">
                <div style="float: right">11</div>
                <div class="feedgram-icons feedgram-posts"></div>
            </div>
            <div style="width: 50%;float: right">
                <div style="float: right">15</div>
                <div class="feedgram-icons feedgram-followers"></div>
            </div>
        </div>
    </div>
</div>
<style>
  .view-padding-top {
    padding-top: 44px;
  }
</style>
