<!-- cardItem -->
<div class="category-page">
    <div class="article-mobile-list flex wrap content-evenly">
        <div class="card white-back no-margin-imp w-40 mobile-card auto-height flex flex-col bottom-margin-6-imp
             items-center content-evenly right-direction relative" ng-click="foodTypeChanged('IRANIAN', $event)">
            <img src="../../../../assets/img/ui/mobile/IRANIAN.png" class="col-xs-10  bottom-margin-2" alt="">
            <span class="color-808285 line-height-1">ایرانی</span>
        </div>
        <div class="card white-back no-margin-imp w-40 mobile-card auto-height flex flex-col bottom-margin-6-imp 
            items-center content-evenly right-direction relative" ng-click="foodTypeChanged('FOREIGN')">
            <img src="../../../../assets/img/ui/mobile/FOREIGN.png" class="col-xs-10  bottom-margin-2" alt="">
            <span class="color-808285 line-height-1">فرنگی</span>
        </div>
        <div class="card white-back no-margin-imp w-40 mobile-card auto-height flex flex-col bottom-margin-6-imp 
            items-center content-evenly right-direction relative" ng-click="foodTypeChanged('FAST_FOOD')">
            <img src="../../../../assets/img/ui/mobile/FAST_FOOD.png" class="col-xs-10  bottom-margin-2" alt="">
            <span class="color-808285 line-height-1">فست فود</span>
        </div>
        <div class="card white-back no-margin-imp w-40 mobile-card auto-height flex flex-col bottom-margin-6-imp 
            items-center content-evenly right-direction relative" ng-click="foodTypeChanged('VEG')">
            <img src="../../../../assets/img/ui/mobile/VEG.png" class="col-xs-10  bottom-margin-2" alt="">
            <span class="color-808285 line-height-1">گیاهی</span>
        </div>
        <div class="card white-back no-margin-imp w-40 mobile-card auto-height flex flex-col bottom-margin-6-imp 
            items-center content-evenly right-direction relative" ng-click="foodTypeChanged('SEA')">
            <img src="../../../../assets/img/ui/mobile/SEA.jpg" class="col-xs-10  bottom-margin-2" alt="">
            <span class="color-808285 line-height-1">دریایی</span>
        </div>
        <div class="card white-back no-margin-imp w-40 mobile-card auto-height flex flex-col bottom-margin-6-imp 
            items-center content-evenly right-direction relative" ng-click="foodTypeChanged('SALAD')">
            <img src="../../../../assets/img/ui/mobile/SALAD.png" class="col-xs-10  bottom-margin-2" alt="">
            <span class="color-808285 line-height-1">سالاد</span>
        </div>
    </div> 
</div>
<style>
    .view-padding-top {
        padding-top: 9em;
    }
</style>