<ion-modal-view>
    <ion-content>
        <div class="padding-top-30">
            <div class="right-float w-33" ng-click="default()">
                <img src="/assets/img/ui/camera.png" class="w-40"/>
                <div>پیش فرض</div>
            </div>
            <div class="right-float w-33">
                <img src="/assets/img/ui/camera.png" class="w-40"/>
                <div>گالری</div>
            </div>
            <div class="right-float w-33" ng-click="takePhoto()">
                <img src="/assets/img/ui/camera.png" class="w-40"/>
                <div>دوربین</div>
            </div>
        </div>

    </ion-content>
</ion-modal-view>

<style>
    .modal-open .modal{
        height: 150px !important;
        min-height: 150px !important;
        position: absolute;
        bottom: 0;
        top: unset;
    }
    .modal-backdrop{
        background-color: transparent;
    }
    .modal{
        top: unset !important;
        min-height: 20% !important;
    }
</style>
