<!-- cardItem -->
<div class="detail-page" ng-init="initCtrl()">
    <div class="article-mobile-list flex wrap content-evenly">
        <div class="card white-back no-margin-imp w-95 mobile-card fit-height flex flex-col
             items-center content-evenly right-direction relative">
            <div class="w-100 relative">
                <img src="{{mobileFoodDetail.restaurant.imageAddress}}" class="w-100 card-img">
            </div>
            <div
                    class="full-width right-padding-lg left-padding-lg relative flex flex-col items-center content-evenly relative">
                <div class="w-100 flex">

                    <div class="w-70 flex flex-col content-center left-padding-2 right-padding-2">
                        <div class="text-right flex items-center w-100 font-xl line-height-initial min-height-lg">
                            <div class="color-2e6977 pointer">
                                {{mobileFoodDetail.restaurant.name}}
                            </div>
                            <div class="card__restaurant__star"></div>
                            <div class="color-319ab1">
                                {{mobileFoodDetail.restaurant.averageRate === 0 ? '-' :
                                mobileFoodDetail.restaurant.averageRate}}
                            </div>
                        </div>
                    </div>
                    <div class="food-detail-left w-40">
                        <div class="food-detail-content">
                            <div class="food_detail_qute">امتیازشما به این رستوران</div>
                            <div class="food_detail_stars text-left">
                                <ul class="rating color-e1e1e1">
                                    <li ng-repeat="star in stars" ng-class="star" ng-click="myRate($index+1)">
                                        &#8902
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                        class="defult-color text-right flex flex-col font-bold w-100 font-xl line-height-initial min-height-lg">
                    <div class="food_detail_title font-xxs color-939292 w-100 text-right pointer"
                         ng-click="showTab($event)">
                        <i class="icon ion-chevron-left color-319ab1 tab-arrow"></i>
                        نظرات کاربران
                    </div>
                    <div class="w-100 flex wrap hidden-tab full-height top-margin-lg-imp">
                        <div id="food_comments" class="w-100 auto-overflow m-h-13">
                            <div ng-repeat="c in comments" class="col-xs-12 hr flex flex-col">
                                <div class="color-939292 w-100 right-text font-xxs">
                                    {{c.employee.name}}
                                </div>
                                <!-- <div class="comments__date">
                                    {{myFormatDate(c.date)}}
                                </div> -->
                                <div class="color-b6b6b6 w-100 right-text font-xxxs">
                                    {{c.comment}}
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 top-margin-lg">
                            <form novalidate ng-submit="forms.myform.$valid && addComments()" name="forms.myform"
                                  class="ui reply form">
                                <div class="reelative">
                                    <textarea type="text" ng-model="commentInDetail" id="commentInDetail"
                                              name="commentInDetail" required ng-maxlength="250" ng-minlength="2"
                                              placeholder="افزودن نظر شما"
                                              class="right-direction redius-lg color-9d9d9d right-text font-xs padding-3 message-box no-resize"></textarea>
                                    <div class="error-message"
                                         ng-show="(forms.myform.commentInDetail.$dirty || submitted) && inputIsInvalid(forms.myform.commentInDetail.$valid,'commentInDetail') && forms.myform.commentInDetail.$error.required">
                                        پر کردن این فیلد اجباریست
                                    </div>
                                    <div class="error-message"
                                         ng-show="(forms.myform.commentInDetail.$dirty || submitted) && inputIsInvalid(forms.myform.commentInDetail.$valid,'commentInDetail') && forms.myform.commentInDetail.$error.maxlength">
                                        حداکثر 250 کاراکتر وارد کنید
                                    </div>
                                    <div class="error-message"
                                         ng-show="(forms.myform.commentInDetail.$dirty || submitted) && inputIsInvalid(forms.myform.commentInDetail.$valid,'commentInDetail') && forms.myform.commentInDetail.$error.minlength">
                                        حداقل 2 کاراکتر وارد کنید
                                    </div>
                                    <button type="submit"
                                            class="confirm_button confirm_yes btn redius-md send-btn">ارسال
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<style>
    .menu .scroll-content {
        overflow: auto !important;
    }
    .view-padding-top {
        padding-top: 9em;
    }
</style>
