<div style="position: relative;height: 100%">
    <input id="test" type="text" style="display: none" title="hi" />
    <div class="food_detail_body" style="width: 100%">
        <div style="height: 10%">
            <div class="newmodal_close_header">
                <button type="button" class="close newmodal_close" ng-click="$dismiss()" aria-label="Close">
                    <img src="/assets/img/ui/close.png">
                    <div class="remove-float"></div>
                </button>
                <img src="/assets/img/ui/small-logo.png" class="newmodal_small_logo">
                <div class="remove-float"></div>
            </div>
            <div class="remove-float"></div>
            <div class="confirm_header_title padding-md">
                پروفایل
            </div>
            <div class="remove-float"></div>
        </div>
        <div style="height: 90%">

        </div>
        <div class="remove-float"></div>
    </div>
    <div class="remove-float"></div>

    <div class="profile__body" style="height: 98%">
        <div ng-controller="ProfilePageCtrl" ng-init="initCtrl()" class="panel-content">
            <div>
                <div class="userpic col-sm-2 col-xs-12 pull-right">
                    <img style="border-radius: 50%" ng-src="{{ employee.imageAddress }}" ng-click="uploadPicture()">
                    <i class="ion-ios-close-outline" ng-click="removePicture()" ng-if="employee.imageAddress !== 'assets/img/defaults/default-employee.png'"></i>
                    <input type="file" ng-show="false" id="uploadFile">
                </div>
                <div class="user-form-container col-sm-10 col-xs-12 pull-left">
                    <form id="form" name="myform" ng-submit="myform.$valid && saveOrUpdate(myform)" novalidate style="padding-left: 20px;font-size: small">
                        <div class="row form_input_margin">
                            <div class="col-sm-9 col-xs-12">
                                <input ng-disabled="true" type="text" class="confirm_input form-control" name="family"
                                    ng-maxlength="8" id="family" ng-model="employee.name">
                            </div>
                            <label for="family" class="col-sm-3 col-xs-12 control-label">نام و خانوادگی</label>
                        </div>
                        <div class="row form_input_margin">
                            <div class="col-sm-9 col-xs-12">
                                <input ng-disabled="true" type="text" class="confirm_input form-control" id="personnelCode"
                                    ng-model="employee.personnelCode">
                            </div>
                            <label for="personnelCode" class="col-sm-3 col-xs-12 control-label">کد پرسنلی</label>
                        </div>
                        <div class="row form_input_margin">
                            <div class="col-sm-9 col-xs-12">
                                <input ng-disabled="true" type="text" ng-maxlength="150" required class="confirm_input form-control"
                                    name="userName" id="userName" ng-model="employee.userName">
                                <div class="error-message" ng-show="(myform.userName.$dirty || submitted) && inputIsInvalid(myform.userName.$valid,'userName') && myform.userName.$error.maxlength">
                                    حداکثر 150 کاراکتر وارد کنید
                                </div>
                                <div class="error-message" ng-show="(myform.userName.$dirty || submitted) && inputIsInvalid(myform.userName.$valid,'userName') && myform.userName.$error.required">
                                    پر کردن این فیلد اجباریست
                                </div>
                            </div>
                            <label for="userName" class="col-sm-3 col-xs-12 control-label">نام کاربری</label>
                        </div>
                        <div class="row form_input_margin">
                            <div class="col-sm-9 col-xs-12">
                                <input type="tel" class="confirm_input form-control" ng-maxlength="11" ng-minlength="11"
                                    required name="mobile" ng-model="employee.address.mobile" id="mobile">
                                <div class="error-message" ng-show="(myform.mobile.$dirty || submitted) && inputIsInvalid(myform.mobile.$valid,'mobile') && myform.mobile.$error.maxlength">
                                    حداکثر 11 کاراکتر وارد کنید
                                </div>
                                <div class="error-message" ng-show="(myform.mobile.$dirty || submitted) && inputIsInvalid(myform.mobile.$valid,'mobile') && myform.mobile.$error.minlength">
                                    حداقل 11 کاراکتر وارد کنید
                                </div>
                                <div class="error-message" ng-show="(myform.mobile.$dirty || submitted) && inputIsInvalid(myform.mobile.$valid,'mobile') && myform.mobile.$error.required">
                                    پر کردن این فیلد اجباریست
                                </div>
                            </div>
                            <label for="mobile" class="col-sm-3 col-xs-12 control-label">موبایل</label>
                        </div>
                        <div class="row form_input_margin">
                            <div class="col-sm-9 col-xs-12">
                                <input type="tel" ng-minlength="4" ng-maxlength="100" required class="confirm_input form-control"
                                    id="phone" name="phone" ng-model="employee.address.phone">
                                <div class="error-message" ng-show="(myform.phone.$dirty || submitted) && inputIsInvalid(myform.phone.$valid,'phone') && myform.phone.$error.maxlength">
                                    حداکثر 100 کاراکتر وارد کنید
                                </div>
                                <div class="error-message" ng-show="(myform.phone.$dirty || submitted) && inputIsInvalid(myform.phone.$valid,'phone') && myform.phone.$error.minlength">
                                    حداقل 4 کاراکتر وارد کنید
                                </div>
                                <div class="error-message" ng-show="(myform.phone.$dirty || submitted) && inputIsInvalid(myform.phone.$valid,'phone') && myform.phone.$error.required">
                                    پر کردن این فیلد اجباریست
                                </div>
                            </div>
                            <label for="phone" class="col-sm-3 col-xs-12 control-label">تلفن</label>
                        </div>
                        <div class="row form_input_margin">
                            <div class="col-sm-9 col-xs-12">
                                <input ng-disabled="true" type="text" ng-maxlength="150" required class="confirm_input form-control"
                                    name="adr" id="adr" ng-model="employee.address.address">
                                <div class="error-message" ng-show="(myform.adr.$dirty || submitted) && inputIsInvalid(myform.adr.$valid,'adr') && myform.adr.$error.maxlength">
                                    حداکثر 150 کاراکتر وارد کنید
                                </div>
                                <div class="error-message" ng-show="(myform.adr.$dirty || submitted) && inputIsInvalid(myform.adr.$valid,'adr') && myform.adr.$error.required">
                                    پر کردن این فیلد اجباریست
                                </div>
                            </div>
                            <label for="adr" class="col-sm-3 col-xs-12 control-label">آدرس</label>
                        </div>

                        <div class="row margin__bottom_10 margin__top_40 hr">
                            <h3 class="col-sm-12 radio-btn-header babyblue-color">
                                ملاحظات رژیمی
                            </h3>
                        </div>
                        <div class="row margin__top_30">
                            <div class="col-xs-11 no-padding-right">
                                رژیم غذایی چاقی
                            </div>
                            <div class="col-xs-1 padding-sm">
                                <label style="float: right" class="checkbox-inline custom-checkbox nowrap">
                                    <input ng-model="employee.employeeInfo.obesityDiet" type="checkbox" id="obesityDiet"
                                        name="obesityDiet">
                                    <span style="color: white"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row margin__top_20">
                            <div class="col-xs-11 no-padding-right">
                                رژیم غذایی لاغری
                            </div>
                            <div class="col-xs-1 padding-sm">
                                <label style="float: right;" class="checkbox-inline custom-checkbox nowrap">
                                    <input ng-model="employee.employeeInfo.slimmingDiet" type="checkbox" id="slim" name="slim"
                                        value="true">
                                    <span style="color: white"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row margin__top_20">
                            <div class="col-xs-11 no-padding-right">
                                رژیم غذایی قند
                            </div>
                            <div class="col-xs-1 padding-sm">
                                <label style="float: right" class="checkbox-inline custom-checkbox nowrap">
                                    <input ng-model="employee.employeeInfo.sugarDiet" type="checkbox" id="sugar" name="sugar"
                                        value="true">
                                    <span style="color: white"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row margin__top_20">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8 flex flex-col-xs right-direction no-padding">
                                <label class="self-center self-baseline-xs bottom-padding-md left-padding-md right-padding-md no-margin no-text-wrap text-left basis-md">حساسیت
                                    غذایی به</label>
                                <input type="text" ng-maxlength="500" placeholder="" class="confirm_input form-control"
                                    name="allergicTo" id="allergicTo" ng-model="employee.employeeInfo.foodAllergy">
                                <div class="error-message" ng-show="(myform.allergicTo.$dirty || submitted) && inputIsInvalid(myform.allergicTo.$valid,'allergicTo') && myform.allergicTo.$error.maxlength">
                                    حداکثر 500 کاراکتر وارد کنید
                                </div>
                            </div>
                        </div>

                        <div class="row margin__bottom_10 margin__top_40 hr">
                            <div class="col-sm-12" style="font-size: large;font-weight: bold;color: #319ab1">
                                سبک غذایی
                            </div>
                        </div>
                        <div class="row margin__top_30 flex items-center">
                            <div class="col-xs-11 no-padding-right">
                                گیاهخوار: حیوانات را دوست دارم، البته نه به عنوان غذا
                            </div>
                            <div class="col-xs-1 padding-sm">
                                <label style="float: right" class="checkbox-inline custom-checkbox nowrap">
                                    <input ng-model="employee.employeeInfo.vegetarian" type="checkbox" id="veg" name="veg"
                                        value="true">
                                    <span style="color: white"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row margin__top_20 flex items-center">
                            <div class="col-xs-11 no-padding-right">
                                جهانگرد: به غذاهای اقوام و ملت های دیگر علاقه خاصی دارم
                            </div>
                            <div class="col-xs-1 padding-sm">
                                <label style="float: right" class="checkbox-inline custom-checkbox nowrap">
                                    <input ng-model="employee.employeeInfo.tourists" type="checkbox" id="tourist" name="tourist"
                                        value="true">
                                    <span style="color: white"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row margin__top_20 flex items-center">
                            <div class="col-xs-11 no-padding-right">
                                تجربه گر: دوست دارم غذاهایی با طعم ها و روش هایی متفاوت را تجربه کنم
                            </div>
                            <div class="col-xs-1 padding-sm">
                                <label style="float: right" class="checkbox-inline custom-checkbox nowrap">
                                    <input ng-model="employee.employeeInfo.experimenter" type="checkbox" id="experiment"
                                        name="experiment" value="true">
                                    <span style="color: white"></span>
                                </label>
                            </div>
                        </div>
                        <div class="row margin__top_20 flex items-center">
                            <div class="col-xs-11 no-padding-right">
                                محافظه کار: همان غذاهای آشنا را ترجیح میدهم
                            </div>
                            <div class="col-xs-1 padding-sm">
                                <label style="float: right" class="checkbox-inline custom-checkbox nowrap">
                                    <input ng-model="employee.employeeInfo.conservative" type="checkbox" id="cons" name="cons"
                                        value="true">
                                    <span style="color: white"></span>
                                </label>
                            </div>
                        </div>

                        <div class="row margin__top_20 flex items-center hr">
                            <div class="col-xs-11 no-padding-right">
                                مایلم مشاوره های تغذیه دریافت کنم
                            </div>
                            <div class="col-xs-1 padding-sm">
                                <label style="float: right" class="checkbox-inline custom-checkbox nowrap">
                                    <input ng-model="employee.employeeInfo.adviceRequest" type="checkbox" id="advice"
                                        name="advice" value="true">
                                    <span style="color: white"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-12 no-padding margin__top_20 right-direction flex wrap items-center">
                            <div class="col-sm-6 flex flex-col-xs col-xs-12 top-margin-lg">
                                <label class="self-center left-padding-md right-padding-md no-margin no-text-wrap text-left self-baseline-xs bottom-padding-md basis-md">جنسیت</label>

                                <select ng-disabled="!employee.employeeInfo.adviceRequest" class="form-control btn-primary"
                                    ng-model="employee.employeeInfo.gender" data-style="btn-primary" selectpicker>
                                    <option style="color: black" value="FEMALE">زن</option>
                                    <option style="color: black" value="MEN">مرد</option>
                                </select>
                            </div>
                            <div class="col-sm-6 flex flex-col-xs col-xs-12 top-margin-lg">
                                <label class="self-center left-padding-md right-padding-md no-margin no-text-wrap text-left self-baseline-xs bottom-padding-md basis-md">سن</label>

                                <input ng-disabled="!employee.employeeInfo.adviceRequest" type="text" ng-maxlength="3"
                                    placeholder="" class="confirm_input form-control" name="age" id="age" ng-model="employee.employeeInfo.age">
                                <div class="error-message" ng-show="(myform.age.$dirty || submitted) && inputIsInvalid(myform.age.$valid,'age') && myform.age.$error.maxlength">
                                    حداکثر 3 رقم وارد کنید
                                </div>
                                <div class="error-message" ng-show="myform.age.$valid && isNotNumber(employee.employeeInfo.age)">
                                    لطفا عدد وارد کنید
                                </div>
                            </div>
                            <div class="col-sm-6 flex flex-col-xs col-xs-12 top-margin-lg">
                                <label class="self-center left-padding-md right-padding-md no-margin no-text-wrap text-left self-baseline-xs bottom-padding-md basis-md">وزن</label>
                                <input ng-disabled="!employee.employeeInfo.adviceRequest" type="text" ng-maxlength="3"
                                    placeholder="" class="confirm_input form-control" name="weight" id="weight"
                                    ng-model="employee.employeeInfo.weight">
                                <div class="error-message" ng-show="(myform.weight.$dirty || submitted) && inputIsInvalid(myform.weight.$valid,'weight') && myform.weight.$error.maxlength">
                                    حداکثر 3 رقم وارد کنید
                                </div>
                                <div class="error-message" ng-show="myform.weight.$valid && isNotNumber(employee.employeeInfo.weight)">
                                    لطفا عدد وارد کنید
                                </div>
                            </div>
                            <div class="col-sm-6 flex flex-col-xs col-xs-12 top-margin-lg">
                                <label class="self-center left-padding-md right-padding-md no-margin no-text-wrap text-left self-baseline-xs bottom-padding-md basis-md">قد</label>
                                <input ng-disabled="!employee.employeeInfo.adviceRequest" type="text" ng-maxlength="3"
                                    placeholder="" class="confirm_input form-control" name="myheight" id="myheight"
                                    ng-model="employee.employeeInfo.height">
                                <div class="error-message" ng-show="(myform.myheight.$dirty || submitted) && inputIsInvalid(myform.myheight.$valid,'myheight') && myform.myheight.$error.maxlength">
                                    حداکثر 3 رقم وارد کنید
                                </div>
                                <div class="error-message" ng-show="myform.myheight.$valid && isNotNumber(employee.employeeInfo.height)">
                                    لطفا عدد وارد کنید
                                </div>
                            </div>
                            <div class="remove-float"></div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12 margin__bottom_10 margin__top_40 hr" style="font-size: large;font-weight: bold;color: #319ab1">
                                Bio
                            </div>
                            <div class="col-sm-12 margin__top_10">
                                <textarea class="confirm_input form-control" name="desc" ng-maxlength="500" ng-model="employee.employeeInfo.biography"
                                    id="desc" placeholder="و دنیای شغلی شما چه آب و رنگی دارد؟" style="text-align:right;"></textarea>
                            </div>
                            <div class="error-message" ng-show="(myform.desc.$dirty || submitted) && inputIsInvalid(myform.desc.$valid,'desc') && myform.desc.$error.maxlength">
                                حداکثر 500 کاراکتر وارد کنید
                            </div>
                        </div>

                        <div>
                            <div class="margin__top_10 margin__bottom_20 left-text">
                                <button type="submit" class="confirm_button confirm_yes btn">ثبت
                                </button>
                                <button type="button" ng-click="$dismiss()" class="confirm_button confirm_no btn pull-left">
                                    بازگشت
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="remove-float"></div>

<style>
    .modal .modal-dialog.modal-lg {
        height: 95%;
    }

    .modal-dialog.modal-lg>.modal-content {
        top: 50%;
        transform: translateY(-50%);
    }

    @media (max-height: 800px) {
        .profile__body {
            height: 100% !important;
        }
    }

    @media (max-height: 600px) {
        .profile__body {
            top: 8% !important;
            height: 70% !important;
        }
    }

    @media (max-height: 800px) and (min-height: 601px) and (min-width: 1025px) {
        .profile__body {
            top: 7% !important;
            height: 70% !important;
        }
    }

    @media (min-height: 801px) {
        .profile__body {
            max-height: 100% !important;
            top: 4em !important;
        }
    }

    .hr {
        position: relative;
        margin-top: 5em !important;
    }

    .hr::before {
        position: absolute;
        display: inline-block;
        margin: 0 20px 8px 0;
        height: 2px;
        content: " ";
        text-shadow: none;
        background-color: #999;
        width: 100%;
        top: -2em;
        left: 0;
    }
</style>