.label {
  border-radius: 0;
}
.label-primary {
  background: black;
}
.label-info {
  background: black;
}
.label-success {
  background: black;
}
.label-warning {
  background: black;
}
.label-danger {
  background: black;
}
.form-horizontal label {
  line-height: 34px;
  margin-bottom: 0;
  padding-top: 0 !important;
}
.form-group label {
  text-align: right;
  margin-bottom: 5px;
  color: #575757;
  font-weight: normal;
  font-size: 13px;
}
.form-control {
  text-align: right;
  direction: rtl;
  color: #2e6977;
  border-radius: 3px;
  background-color: #f5f5f5;
  box-shadow: none;
  min-height: 42px !important;
  border: none !important;
  margin-bottom: 6px;
}
.form-control:focus {
  box-shadow: none;
  border-color: black;
}
select.form-control {
  padding-left: 8px;
}
textarea.form-control {
  height: 96px !important;
}
.form-inline .form-group input {
  width: 100%;
}
.form-inline .form-group label {
  margin-right: 12px;
}
.form-inline button[type="submit"] {
  margin-left: 12px;
}
.form-inline label.custom-checkbox > span, .form-inline label.custom-radio > span {
  display: block;
  margin-top: -13px;
  margin-right: 10px;
}
.switcher-container {
  margin-right: 10px;
  font-weight: normal;
}
.switcher-container input {
  display: none;
}
.switcher-container .switcher {
  position: relative;
  display: inline-block;
  width: 84px;
  overflow: hidden;
  border-radius: 6px;
  box-sizing: border-box;
  /* this fixes the overflow:hidden in Chrome */
  -webkit-transform: translateZ(0);
  /* Hide default HTML checkbox */
}
.switcher-container .switcher.primary {
  border: solid 1px black;
}
.switcher-container .switcher.primary .handle.handle-on {
  background-color: black;
}
.switcher-container .switcher.success {
  border: solid 1px black;
}
.switcher-container .switcher.success .handle.handle-on {
  background-color: black;
}
.switcher-container .switcher.warning {
  border: solid 1px black;
}
.switcher-container .switcher.warning .handle.handle-on {
  background-color: black;
}
.switcher-container .switcher.danger {
  border: solid 1px black;
}
.switcher-container .switcher.danger .handle.handle-on {
  background-color: black;
}
.switcher-container .switcher.info {
  border: solid 1px black;
}
.switcher-container .switcher.info .handle.handle-on {
  background-color: black;
}
.switcher-container .switcher input {
  display: none;
}
.switcher-container .switcher .handle-container {
  position: relative;
  width: 126px;
  cursor: pointer;
  transform: translate3d(-42px, 0, 0);
  transition: transform 0.2s linear;
}
.switcher-container .switcher .handle-container .handle {
  width: 42px;
  float: left;
  line-height: 28px;
  height: 28px;
  font-size: 12px;
  text-align: center;
  color: white;
}
.switcher-container .switcher .handle-container .handle.handle-off {
  background: black;
  color: black;
}
.switcher-container input:checked + .switcher {
  border: solid 1px black;
}
.switcher-container input:checked + .switcher .handle-container {
  transform: translate3d(0, 0, 0);
}
.switch-container {
  display: inline-block;
}
.switch-container.primary .bootstrap-switch.bootstrap-switch-on {
  border-color: black;
}
.switch-container.success .bootstrap-switch.bootstrap-switch-on {
  border-color: black;
}
.switch-container.warning .bootstrap-switch.bootstrap-switch-on {
  border-color: black;
}
.switch-container.danger .bootstrap-switch.bootstrap-switch-on {
  border-color: black;
}
.switch-container.info .bootstrap-switch.bootstrap-switch-on {
  border-color: black;
}
.bootstrap-switch {
  border-radius: 5px;
  border: 1px solid black;
  transition: border-color ease-in-out 0.7s, box-shadow ease-in-out 0.7s;
}
.bootstrap-switch:focus {
  outline: none;
}
.bootstrap-switch.bootstrap-switch-off {
  border-color: black;
}
.bootstrap-switch.bootstrap-switch-focused {
  box-shadow: none;
}
.bootstrap-switch.bootstrap-switch-focused.bootstrap-switch-off {
  border-color: black;
}
.bootstrap-switch .bootstrap-switch-container {
  border-radius: 0;
}
.bootstrap-switch .bootstrap-switch-container:focus {
  outline: none;
}
.bootstrap-switch .bootstrap-switch-handle-on {
  border-radius: 0;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-default {
  background: black;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-success {
  background: black;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-primary {
  background: black;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-warning {
  background: black;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-danger {
  background: black;
}
.bootstrap-switch .bootstrap-switch-handle-on.bootstrap-switch-info {
  background: black;
}
.bootstrap-switch .bootstrap-switch-handle-off {
  border-radius: 0;
}
.bootstrap-switch .bootstrap-switch-label {
  background: transparent;
}
.bootstrap-switch.bootstrap-switch-animate .bootstrap-switch-container {
  transition: margin-left 0.2s;
}
.switches {
  margin-left: -12px;
  margin-bottom: -12px;
}
.switches .switch-container {
  float: left;
  margin-left: 12px;
  margin-bottom: 12px;
}
.input-group {
  width: 100%;
  margin-bottom: 15px;
}
.input-group > span {
  border-radius: 0;
}
label.custom-checkbox, label.custom-radio {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 0;
}
label.custom-checkbox > input, label.custom-radio > input {
  height: 0;
  z-index: -100 !important;
  opacity: 0;
  position: absolute;
}
label.custom-checkbox > input:checked + span:before, label.custom-radio > input:checked + span:before {
  content: "\f00c";
  font-weight: normal;
}
label.custom-checkbox > input:disabled + span, label.custom-radio > input:disabled + span {
  color: black;
  cursor: not-allowed;
}
label.custom-checkbox > input:disabled + span:before, label.custom-radio > input:disabled + span:before {
  border-color: black !important;
  cursor: not-allowed;
}
label.custom-checkbox > span, label.custom-radio > span {
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 16px;
  font-weight: normal;
  cursor: pointer;
  padding-left: 22px;
  width: 100%;
}
label.custom-checkbox > span:before, label.custom-radio > span:before {
  cursor: pointer;
  font-family: fontAwesome;
  font-weight: normal;
  font-size: 12px;
  color: #f44545;
  content: "\a0";
  background-color: #f5f5f5;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
  text-align: center;
  height: 20px;
  line-height: 20px;
  min-width: 20px;
  margin-right: 6px;
  position: relative;
  top: 0;
  margin-left: -22px;
  float: left;
}
label.custom-checkbox > span:hover:before, label.custom-radio > span:hover:before {
  border-color: black;
}
.nowrap {
  white-space: nowrap;
}
.cut-with-dots {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
label.custom-radio > input:checked + span:before {
  content: "\f111";
}
label.custom-radio > span:before {
  border-radius: 16px;
  font-size: 9px;
}
label.custom-input-primary > span:before {
  color: black;
}
label.custom-input-primary > span:hover:before {
  border-color: black;
}
label.custom-input-success > span:before {
  color: black;
}
label.custom-input-success > span:hover:before {
  border-color: black;
}
label.custom-input-warning > span:before {
  color: black;
}
label.custom-input-warning > span:hover:before {
  border-color: black;
}
label.custom-input-danger > span:before {
  color: black;
}
label.custom-input-danger > span:hover:before {
  border-color: black;
}
.form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
  padding-top: 0px;
}
.input-demo {
  line-height: 25px;
}
.has-success .control-label {
  color: white;
}
.has-success .form-control {
  border: 1px solid black;
}
.has-success .form-control:focus {
  box-shadow: none;
  border-color: black;
}
.has-success label.custom-checkbox, .has-success label.custom-radio {
  color: black;
}
.has-success label.custom-checkbox > span:before, .has-success label.custom-radio > span:before {
  color: black;
}
.has-success label.custom-checkbox > span:hover:before, .has-success label.custom-radio > span:hover:before {
  border-color: black;
}
.has-success .form-control-feedback {
  color: black;
}
.has-success .input-group-addon {
  background-color: black;
  color: black;
}
.has-warning .control-label {
  color: white;
}
.has-warning .form-control {
  border: 1px solid black;
}
.has-warning .form-control:focus {
  box-shadow: none;
  border-color: black;
}
.has-warning label.custom-checkbox, .has-warning label.custom-radio {
  color: black;
}
.has-warning label.custom-checkbox > span:before, .has-warning label.custom-radio > span:before {
  color: black;
}
.has-warning label.custom-checkbox > span:hover:before, .has-warning label.custom-radio > span:hover:before {
  border-color: black;
}
.has-warning .form-control-feedback {
  color: black;
}
.has-warning .input-group-addon {
  background-color: black;
  color: black;
}
.has-error .control-label {
  color: white;
}
.has-error .form-control {
  border: 1px solid black;
}
.has-error .form-control:focus {
  box-shadow: none;
  border-color: black;
}
.has-error label.custom-checkbox, .has-error label.custom-radio {
  color: black;
}
.has-error label.custom-checkbox > span:before, .has-error label.custom-radio > span:before {
  color: black;
}
.has-error label.custom-checkbox > span:hover:before, .has-error label.custom-radio > span:hover:before {
  border-color: black;
}
.has-error .form-control-feedback {
  color: black;
}
.has-error .input-group-addon {
  background-color: black;
  color: black;
}
.has-feedback label ~ .form-control-feedback {
  top: 21px;
  font-size: 18px;
}
.bootstrap-select .btn-default:focus {
  color: white;
}
.bootstrap-select > .dropdown-toggle.btn-primary, .bootstrap-select > .dropdown-toggle.btn-warning, .bootstrap-select > .dropdown-toggle.btn-danger, .bootstrap-select > .dropdown-toggle.btn-success, .bootstrap-select > .dropdown-toggle.btn-inverse, .bootstrap-select > .dropdown-toggle.btn-info {
  color: #6b6b6b;
}
.bootstrap-select > .dropdown-toggle.btn-primary:hover, .bootstrap-select > .dropdown-toggle.btn-warning:hover, .bootstrap-select > .dropdown-toggle.btn-danger:hover, .bootstrap-select > .dropdown-toggle.btn-success:hover, .bootstrap-select > .dropdown-toggle.btn-inverse:hover, .bootstrap-select > .dropdown-toggle.btn-info:hover, .bootstrap-select > .dropdown-toggle.btn-primary:focus, .bootstrap-select > .dropdown-toggle.btn-warning:focus, .bootstrap-select > .dropdown-toggle.btn-danger:focus, .bootstrap-select > .dropdown-toggle.btn-success:focus, .bootstrap-select > .dropdown-toggle.btn-inverse:focus, .bootstrap-select > .dropdown-toggle.btn-info:focus {
  color: #6b6b6b;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: transparent;
  color: #575757;
  border-color: black;
}
.form-control-rounded {
  border-radius: 16px;
}
.help-block {
  color: black;
}
.help-block.error-block {
  display: none;
}
.has-error .help-block.error-block.basic-block {
  display: block;
}
.input-group-addon-danger {
  background: black;
  color: black;
  border-color: black;
}
.input-group-addon-warning {
  background: black;
  color: black;
  border-color: black;
}
.input-group-addon-success {
  background: black;
  color: black;
  border-color: black;
}
.input-group-addon-primary {
  background: black;
  color: black;
  border-color: black;
}
.checkbox-demo-row {
  margin-bottom: 12px;
}
.dropdown-menu {
  border-radius: 5px;
  background-color: #f5f5f5 !important;
}
.bootstrap-select.btn-group button.btn.btn-default {
  background: #337ab7;
}
.bootstrap-select.btn-group button.btn.btn-default:hover {
  color: #333;
  background: black;
  box-shadow: none;
  outline: 0 !important;
}
.bootstrap-select.btn-group button.btn.btn-default:active {
  background: black;
  box-shadow: none;
}
.bootstrap-select.btn-group.open > .btn.btn-default.dropdown-toggle {
  background: black;
  box-shadow: none;
  border-color: black;
}
.bootstrap-select.btn-group.open > .btn {
  border-radius: 5px 5px 0 0;
}
.bootstrap-select.btn-group.open .dropdown-menu.open {
  border: 1px solid black;
  border-top: none;
  border-radius: 0 0 5px 5px;
}
.bootstrap-select.btn-group.with-search.open .btn-default + .dropdown-menu .bs-searchbox .form-control {
  background-color: black;
  border: 1px solid black;
}
.bootstrap-select.btn-group.with-search.open .btn-default + .dropdown-menu .no-results {
  color: black;
}
.bootstrap-select.btn-group .notify {
  color: black;
}
.bootstrap-tagsinput {
  color: white;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: none;
  max-width: 100%;
  font-size: 14px;
  line-height: 26px;
  width: 100%;
}
.bootstrap-tagsinput.form-control {
  display: block;
  width: 100%;
}
.bootstrap-tagsinput .tag {
  border-radius: 3px;
  font-weight: normal;
  font-size: 11px;
  padding: 4px 8px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: none;
}
.bootstrap-tagsinput input {
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  line-height: 22px;
  font-size: 11px;
  min-width: 53px;
}
.ui-select-multiple.ui-select-bootstrap {
  min-height: 34px;
  padding: 4px 3px 0 12px;
}
.progress {
  background: black;
}
.progress-bar-primary {
  background-color: black;
}
.progress-bar-success {
  background-color: black;
}
.progress-bar-warning {
  background-color: black;
}
.progress-bar-danger {
  background-color: black;
}
.has-success .input-group-addon {
  border: none;
}
.input-group > span.addon-left {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.input-group > span.addon-right {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}
.with-primary-addon:focus {
  border-color: black;
}
.with-warning-addon:focus {
  border-color: black;
}
.with-success-addon:focus {
  border-color: black;
}
.with-danger-addon:focus {
  border-color: black;
}
.sub-little-text {
  font-size: 12px;
}
