<div style="position: relative;height: 100%">
    <input id="test" type="text" style="display: none" title="hi" />
    <div class="food_detail_body" style="width: 100%">
        <div style="height: 10%">
            <div class="newmodal_close_header">
                <button type="button" class="close newmodal_close" ng-click="$dismiss()" aria-label="Close">
                    <img src="/assets/img/ui/close.png">
                </button>
                <img src="/assets/img/ui/small-logo.png" class="newmodal_small_logo">
            </div>
            <div class="confirm_header_title padding-md">
                جزییات مالی
            </div>
        </div>
    </div>
    <div class="confirm_body" style="padding-top: 50px;top: 10%">
        <div class="row">
            <div class="col-sm-8 margin__bottom_15" style="text-align: center">
                <label>{{myFormatDate(order.transactionDate)}}</label>
            </div>
            <label style="text-align: center" class="col-sm-4 control-label">تاریخ تسویه</label>
        </div>
        <div class="row">
            <div class="col-sm-8 margin__bottom_15" style="text-align: center">
                <label>{{formatPrice(order.foodPrice)}}</label>
            </div>
            <label style="text-align: center" class="col-sm-4 control-label">قیمت غذا</label>
        </div>
        <div class="row">
            <div class="col-sm-8 margin__bottom_15" style="text-align: center">
                <label>{{formatPrice(order.foodPriceAfterOff)}}</label>
            </div>
            <label style="text-align: center" class="col-sm-4 control-label">قیمت بعد از تخفیف</label>
        </div>
        <div class="row">
            <div class="col-sm-8 margin__bottom_15" style="text-align: center">
                <label>{{order.deliveryPrice}}</label>
            </div>
            <label style="text-align: center" class="col-sm-4 control-label">هزینه تحویل</label>
        </div>
        <div class="row">
            <div class="col-sm-8 margin__bottom_15" style="text-align: center">
                <label>{{formatPrice(order.containerPrice)}}</label>
            </div>
            <label style="text-align: center" class="col-sm-4 control-label">قیمت ظرف</label>
        </div>
        <div class="row">
            <div class="col-sm-8 margin__bottom_15" style="text-align: center">
                <label>{{order.taxAmount}}</label>
            </div>
            <label style="text-align: center" class="col-sm-4 control-label">مالیات</label>
        </div>
        <div class="row">
            <div class="col-sm-8 margin__bottom_15" style="text-align: center">
                <label>{{formatPrice(order.totalAmount)}}</label>
            </div>
            <label style="text-align: center" class="col-sm-4 control-label">قیمت نهایی</label>
        </div>
        <div class="row">
            <div class="col-sm-8 margin__bottom_15" style="text-align: center">
                <label>{{order.previousBalance}}</label>
            </div>
            <label style="text-align: center" class="col-sm-4 control-label">موجودی قبلی</label>
        </div>
        <div class="row">
            <div class="col-sm-8 margin__bottom_15" style="text-align: center">
                <label>{{order.newBalance}}</label>
            </div>
            <label style="text-align: center" class="col-sm-4 control-label">موجودی جدید</label>
        </div>
        <div class="row">
            <div class="col-sm-8 margin__bottom_15" style="text-align: center">
                <label>{{order.description}}</label>
            </div>
            <label style="text-align: center" class="col-sm-4 control-label">توضیحات</label>
        </div>
        <div class="row">
            <div class="col-sm-8 margin__bottom_15" style="text-align: center">
                <label>{{getTransactionType(order.transactionTypeEnum)}}</label>
            </div>
            <label style="text-align: center" class="col-sm-4 control-label">نوع</label>
        </div>

    </div>
</div>
<style>
    .modal-open .modal {
        height: 100%;
    }

    .modal .modal-dialog {
        height: 55% !important;
        top: 50%;
        transform: translateY(-50%) !important;
    }
    .modal-dialog .modal-content .confirm_body{
        width: 90%;
        margin-left: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    @media (max-height: 800px) {
        .modal-content {
            height: 90%;
        }
    }
</style>