<div class = "card" style="padding-left: unset !important;" ng-click="goToDetail()">
    <div class = "item-body">
        <img class = "full-image" src = "assets/img/defaults/default-food.png">
    </div>
    <div style="padding: 16px">
        <img style="position: unset;float: right;width: 40px" class="redius-xl w-100 img-responsive" src = "https://storage.karafeed.com/d212d7e4-9f48-41bb-8d06-258f09351b26.jpeg">
        <div style="float: right;width: 30%;line-height: 40px;">Card Name</div>
        <div style="max-height: 4em;height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: smaller;">
            hello this is omid javaheri a java developer who has a wonderful life and he likes his life so he is happy.
        </div>
    </div>

</div>
<style>
  .view-padding-top {
    padding-top: 44px;
  }
</style>
