<div ng-repeat="post in posts" class = "card" style="padding-left: unset !important;" ng-click="goToDetail()">
  <div class = "item-body">
    <img class = "w-70" src = "{{post.imageAddress}}">
  </div>
  <div style="padding: 16px">
    <img style="position: unset;float: right;width: 40px" class="redius-xl w-100 img-responsive" src = "{{post.owner.imageAddress}}">
    <div style="float: right;width: 30%;line-height: 40px;">{{post.owner.name}}</div>
    <div style="max-height: 4em;height: 4em;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: smaller;">
      {{post.description}}
    </div>
  </div>

</div>
<style>
  .view-padding-top {
    padding-top: 44px;
  }
</style>
