<ion-modal-view>
    <ion-content>
        <form name="myform" ng-submit="myform.$valid && doEdit()" novalidate
              class="form-horizontal modal__form padding-top-30">
            <div class="form-group">
                <label for="desc" style="color: #575757"
                       class="col-xs-12 col-sm-4 control-label top-margin-lg pull-right">خود را توصیف کنید</label>
                <div class="col-xs-12  col-sm-8" style="margin-bottom: 10px">
                    <textarea ng-maxlength="150" class="confirm_input form-control" name="desc" ng-model="desc"
                              id="desc"
                              style="height: 82px !important;"></textarea>
                    <div class="error-message"
                         ng-show="(myform.desc.$dirty || submitted) && inputIsInvalid(myform.desc.$valid,'desc') && myform.desc.$error.maxlength">
                        حداکثر 150 کاراکتر وارد کنید
                    </div>
                </div>
            </div>
            <div>
                <div class="left-text">
                    <button type="submit" class="confirm_button confirm_yes btn">ثبت</button>
                    <button type="button" ng-click="editModal.hide()" class="confirm_button confirm_no btn pull-left">
                        بازگشت
                    </button>
                </div>
            </div>
        </form>

    </ion-content>
</ion-modal-view>

<style>
    .modal-open .modal {
        height: 50% !important;
        min-height: 50% !important;
        bottom: 25%;
        left: 10%;
        width: 80%;
        top: unset !important;
    }

    .modal-backdrop {
        background-color: transparent;
    }

    .modal {
        height: 50% !important;
        min-height: 50% !important;
        bottom: 25%;
        left: 10%;
        width: 80%;
        top: unset !important;
    }
</style>
